:root {
    --jet: #353535;
    --jet-rgb: 35, 35, 35;

    --primary-color: #ff866e;
    --primary-color-rgb: 255, 134, 110;

    --secondary-color: #c4fffd;
    --secondary-color-rgb: 196, 255, 253;
    --dark-secondary-color: #c4e0ff;
    --dark-secondary-color-rgb: 196, 224, 255;
    --darker-secondary-color: #84b3e8;
    --darker-secondary-color-rgb: 132, 179, 232;

    --admin-color: #ff706e;
    --admin-color-rgb: 255, 112, 110;
    --participant-color: #ffff73;
    --participant-color-rgb: 255, 255, 115;
    --judge-color: #91e2ff;
    --judge-color-rgb: 145, 226, 255;

    --success: #8cff8a;
    --dark-success: #52cc50;
    --danger: #ff6363;
    --dark-danger: #cb5252;
}

ul {
    list-style-type: none;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--copper-rose);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blizzard-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blizzard-blue);
}
