.event-list {
    margin-top: 2em;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2%;

    .selection {
        border: 1px solid var(--jet);
        background: white;
        padding: 1em;
        width: calc(100% - 2em);
        height: 18em;
        border-radius: 0.5em;
        transition: all 0.1s;
        transition-property: width height margin;
        cursor: pointer;

        &:hover {
            width: calc(100% - 2.4em);
            height: 17.6em;
            margin: 0.2em;
            border: 1px solid var(--primary-color);
            outline: 1px solid var(--primary-color);
        }

        h3 {
            margin: 0;
            font-size: 1.7em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        p {
            word-wrap: break-word;
            text-overflow: scroll;
            max-height: 14.5em;
        }
    }

    .add-event {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--success);
        transition: all 0.2s;
        transition-property: background;

        img {
            width: 12em;
        }

        &:hover {
            background: var(--dark-success);
        }
    }
}
