.item {
    .no-event-id {
        text-align: center;
        margin-top: 7em;

        h1 {
            font-size: 2.4em;
        }

        p {
            font-size: 1.3em;

            button {
                margin: 0 0.7em;
                font-size: 0.8em;
                height: 2.3em;
                width: 6em;
                font-weight: bold;
                color: white;
                background: var(--alternative-color);
                border: 1px solid var(--jet);
                border-radius: 0.2em;
                padding: 0.3em 0.6em;
                transition: all 0.2s;
                transition-property: filter;
                white-space: nowrap;

                &:hover {
                    filter: brightness(90%);
                }

                &:active {
                    height: 2.1em;
                    width: 5.8em;
                }
            }
        }
    }
}
