.login-form,
.signup-form {
    padding: 2em;
    min-height: 80vh;

    .form-body {
        width: 40%;
        margin: 0 auto;

        .show-password-btn {
            width: 100%;
            border: 1px solid rgba($color: var(--jet-rgb), $alpha: 0.3);
            border-radius: 0.3em;
            padding: 0.5em 0;
            text-align: center;
            background: var(--dark-secondary-color);
            cursor: pointer;
            transition: all 0.2s;
            transition-property: filter;

            &.selected {
                filter: brightness(90%) saturate(50%);
            }
        }

        .login-btn,
        .signup-btn {
            text-align: center;
            background: var(--success);
            padding: 0.7em 0;
            font-size: 1.2em;
            border: 1px solid var(--jet);
            border-radius: 0.3em;
            margin: 1em;
            font-weight: bold;
            transition: all 0.2s;
            transition-property: filter border;
            cursor: pointer;

            &:hover {
                filter: brightness(80%);
                border: 1px solid white;
            }
        }
    }
}
