.table {
    h2 {
        text-align: center;
        margin: 2em 0 1em;
        font-size: 1.7em;
    }

    table,
    tr {
        border: 1px solid rgba($color: var(--jet-rgb), $alpha: 0.4);
        border-collapse: collapse;
    }

    table {
        margin: 0 auto;
        box-shadow: 1px 0px 19px -1px rgba(0, 0, 0, 0.36);
        -webkit-box-shadow: 1px 0px 19px -1px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 1px 0px 19px -1px rgba(0, 0, 0, 0.36);

        td {
            padding: 0.3em 2em;
            text-align: center;
        }

        thead {
            background: rgba($color: var(--primary-color-rgb), $alpha: 0.5);
            font-weight: bold;
        }

        tbody {
            tr {
                &.light {
                    background: white;
                }

                &.dark {
                    background: rgb(237, 237, 237);
                }
            }
        }
    }
}
