.text-area-field {
    position: relative;
    height: min-content;
    margin-bottom: 1em;

    .description {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 2rem);
        margin: 0 1rem;
        top: 0.5em;

        span.input-name {
            transition: color 0.1s;
        }

        span.input-limit {
            opacity: 0;
            transition: opacity 0.1s;
        }
    }

    textarea {
        resize: none;
        width: calc(100% - 2rem);
        font-size: 1.3em;
        padding: 0.5em 1rem;
        padding-top: 1.7em;
        height: 6.5em;
        border-radius: 0.3em;
        border: 1px solid rgba($color: var(--jet-rgb), $alpha: 0.4);
        background: rgba($color: white, $alpha: 0.7);
    }

    &.focused {
        .description {
            span.input-name {
                color: var(--darker-secondary-color);
            }

            span.input-limit {
                opacity: 1;
            }
        }

        textarea {
            border: 1px solid var(--darker-secondary-color);
            outline: 1px solid var(--darker-secondary-color);
        }
    }

    &.error {
        textarea {
            border: 1px solid var(--danger);
        }

        &.focused {
            textarea {
                outline: 1px solid var(--danger);
            }
        }
    }
}
