.user-type-select {
    margin: 1em 0 3em;
    text-align: center;

    img {
        height: 6em;
        display: block;
        margin: 0 auto;
    }

    span {
        display: block;
        font-size: 2em;
        margin-top: 0.4em;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 3em;
        margin: 3em 0;

        button {
            font-size: 1.4em;
            padding: 0.5em 1em;
            border-radius: 1.5em;
            color: white;
            font-weight: bold;
            border: none;
            transition: all 0.2s;
            transition-property: background filter box-shadow;

            &.admin-btn {
                filter: brightness(80%);

                &.selected {
                    background: var(--admin-color);
                    filter: brightness(100%);
                    box-shadow: 0px 7px 25px 0px rgba($color: var(--admin-color-rgb), $alpha: 0.75);
                }
            }

            &.participant-btn {
                filter: brightness(80%);

                &.selected {
                    color: var(--jet);
                    background: var(--participant-color);
                    filter: brightness(100%);
                    box-shadow: 0px 7px 25px 0px rgba($color: var(--participant-color-rgb), $alpha: 0.75);
                }
            }

            &.judge-btn {
                filter: brightness(80%);

                &.selected {
                    background: var(--judge-color);
                    filter: brightness(100%);
                    box-shadow: 0px 7px 25px 0px rgba($color: var(--judge-color-rgb), $alpha: 0.75);
                }
            }
        }
    }
}
